---
import "@styles/global.css";
interface Props {
  title: string;
  back?: string; // Si necesitas botón de volver
  
  // Open Graph básicos
  description?: string;
  image?: string;
  url?: string;
  type?: string;
  
  // Open Graph opcionales
  siteName?: string;
  locale?: string;
  
  // Twitter Cards (recomendado)
  twitterCard?: 'summary' | 'summary_large_image' | 'app' | 'player';
  twitterCreator?: string;
  twitterSite?: string;
}

const { 
  title,
  back = false,
  
  // Open Graph
  description = 'Racks del Perú - Tu tienda de confianza.',
  image = 'https://racksperu.vercel.app/logo.png',
  url = Astro.url.href,
  type = 'website',
  
  siteName = 'Racks del Perú',
  locale = 'es_ES',
  
  // Twitter
  twitterCard = 'summary_large_image',
  twitterCreator = '@1nfinit0',
  twitterSite = '@1nfinit0',
} = Astro.props;

---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={url} />
    <meta property="og:type" content={type} />
    <meta property="og:site_name" content={siteName} />
    <meta property="og:locale" content={locale} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    		<footer class="w-full bg-primary">
			<p class="text-center p-4 text-white">© {new Date().getFullYear()} RackPerú. All rights reserved.</p>
		</footer>
  </body>
  <script is:inline>
    const savedTheme = localStorage.getItem("theme");
    if (savedTheme) {
      document.documentElement.classList.add(savedTheme);
    }

    window.setTheme = (theme) => {
      document.documentElement.className = theme;
      localStorage.setItem("theme", theme);
    };
    
  </script>
</html>
